@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

h2{
    font-weight: 700;
    font-size: 50px;
}
.mamun {
    color: #ff8400;
}
.color{
    color:#FF9F35;
}
.flex-container {
    display: flex;
    margin-bottom: 150px;
}
.width {
    width: 50%;
    padding-left: 5%;
}
.width img {
    width: 75%;
    margin-top: 40px;
}
.btn-ctn  {
    text-decoration: none;
    background:#FF9F35;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    
}

.header {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.second {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.img2 img {
    width: 75%;
}
.text {
    width: 50%;
}
.text p {
    color: dimgray;
}
.develop {
    color: #ff8400;
}
.third {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-are {
    width: 50%;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid;
    box-shadow: 5px 7px 40px gray;
    
}
.exp-are h2 {
    color: #000;
    margin-bottom: 10px;
}
.exp-are h3 {
    color: #ff8400;
    margin-bottom: 10px;
}
#designer {
    border-left: 8px solid;
    border-image: linear-gradient(blue, red);
    border-image-slice: 1;
}
#web {
    border-left: 8px solid;
    border-image: linear-gradient(#ff8400, #000);
    border-image-slice: 1;
}

footer p {
    text-decoration: none;
    text-align: center;
    color: #ff8400;
}
